---
search: false
---

@charset "utf-8";

/* 폰트 크기 줄이기 */
body {
  font-size: 17px;   // 기본 16px → 14px
}

.center {
    display: block;
    margin: auto;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

