---
search: false
---

@charset "utf-8";

/* 폰트 크기 줄이기 */
body {
  font-size: 17px;   // 기본 16px → 14px
}

.center {
    display: block;
    margin: auto;
}

.language-python::before {
  content: "🐍 Python";
  background: #3776ab;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.language-csharp::before {
  content: "⌬ C#";
  background: #512bd4;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

