---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <!-- 강제로 sidebar 하드코딩 -->
  <div class="sidebar sticky">
    {% include author-profile.html %}
    
    <!-- 네비게이션 직접 구현 -->
    <nav class="nav__list">
      <input id="ac-toc" name="accordion-toc" type="checkbox" />
      <label for="ac-toc">토글 메뉴</label>
      <ul class="nav__items">
        <li>
          <a href="/categories/프로그래밍/">
            <span class="nav__sub-title">프로그래밍</span>
          </a>
        </li>
        <li>
          <a href="/categories/기획/">
            <span class="nav__sub-title">기획</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    
    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>